.card-wrapper{
   display: flex;
   padding-top: 40px;
   padding-left: 40px;
   flex-direction: column;
   margin: 0;
   font-size: 14px;
   position: relative;
}



.card-image{
   border-radius: 3.5%;
   object-fit: cover;
}

.card-wrapper-soldout{
position: absolute;
top: 48px;
left: 47px;
background-color: rgba(255, 255, 255, 0.7);
padding: 5px 7px;
border-radius: 6px;
font-weight: bold;
}

.card--stats{
   display: flex;
   align-items: center;
   color: var(--main-grey);
}


