HTML, body{
   padding: 0;
   margin: 0;
   border: 0px;
}

.header{
   display: flex;
   background: linear-gradient(90deg, #672280 0%, #A626D3 100%);
   justify-content: space-between;
   align-items: center;
   height: 80px;
}

.header--lhs{
   display: flex;
   align-items: center;
   padding-left: 20px;
   color: #FFF;
   font-family: Karla;
   font-size: 15px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   letter-spacing: -2.075px;
}

.header--lhs > img{
   width: 70px;
   height: 70px;
   flex-shrink: 0;
   padding-right: 5px;
}



.header--rhs{
   padding-right: 30px;
}

.header--rhs > h3 {
   color: #FFF;
   text-align: right;
   font-family: Inter;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}
