@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}

.nav {
   background: #22222A;
   display: flex;
   padding-left: 2%;
   padding-right: 2%;
   justify-content: space-between;
   align-items: center;
   height: 60px;
}

.lhs {
   display: flex;
   gap: 10px;
   align-items: center;
}

.lhs h3 {
   font-family: Caprasimo;
   color: #03BAD4;
} 

.lhs img {
   vertical-align: middle;
}

.rhs h3 {
   font-family: Bacasime Antique;
   color: whitesmoke;
}
