
.wrapper, html, body {
    background: #282C35;
}


.hero-container {
   padding: 57px 27px;
   background-image: url(./assets/react-hero-logo.png);
   background-size: 450px;
   background-repeat: no-repeat;
   background-position-x: left 370px;
   background-position-y: center;
}

.hero-title {

   color: teal;
   margin: 0;
   letter-spacing: -0.05em;
}

.list {
   color: whitesmoke;
   margin-top: 20px;
}

.list > li {
   padding-block: 4px;
}

.list > li::marker {
   color: #05B9E2;
   font-size: 1.4rem;
}
