.hero{
   display: flex;
   flex-direction: column;
   padding: 5%;
   padding-top: 5%;
}
.hero--textboxes{
   display: flex;
   width: 100%;
   flex-direction: row;
   height: 34px;
   color: #0D0D0D;
   font-family: Karla;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}
.hero--textboxes--lhs{
   justify-content: flex-start;
   width: 47%;
}
.hero--textboxes--rhs{
   margin-left: auto;
   width: 47%;
}

.hero > button {
   margin-top: 10px;
   height: 40px;
   flex-shrink: 0;

   border-radius: 5px;
   background: linear-gradient(135deg, #711F8D 0%, #A818DA 100%);

   color: #FFF;
   text-align: center;
   font-family: Karla;
   font-size: 14px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   letter-spacing: -1.6px;
}


.hero--meme {
   margin-top: 20px;
   position: relative;
}

.hero--meme--img{
   /* flex-shrink: 0; */
   /* border-radius: 2px; */
   display: block;
   width: 100%;
   height: auto;

}



.hero--meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.hero--meme--text--bottom {
    bottom: 0;
}

.hero--meme--text--top {
    top: 0;
}
