.hero-wrapper{
   display: flex;
   flex-direction: column;
   /* align-items: center; */
   /* justify-content: center; */
   padding-top: 40px;

}
.hero-wrapper > img {
   align-self: center;
}

.hero-text-section{
   display: flex;
   flex-direction: column;
   padding-top: 40px;
   padding-left: 40px;
}

.hero-text-section > h1 {
   font-family: 'Poppins', sans-serif;
   font-size: 2.8em;
   margin-bottom: 0;
}

.hero-text-section > h3 {
   font-family: 'Bacasime Antique';
   font-weight: 500;
   font-size: 1.5em;
   padding-top: 14px;
   padding-right: 44%;
   margin-top: 0;
   color: var(--main-grey);
}
